@charset "ISO-8859-1";




#wrappercarne
  {
	text-align: left;
  margin-top: 0;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
	width: 1000px;
}
.carne_contenedor_nombreraza {
	width: 988px;
	height: 78px;
	float: left;
	padding-left: 12px;
	border-top: 1px solid #921c2f;
}
.carne_nombreraza {
	font-family: 'Roboto', sans-serif;
	color: #921c2f;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	font-size: 20px;
	line-height: 78px;
	text-align: left;
	text-decoration: none;
}
.carne_listadodetorosdisponibles {
	font-family: 'Roboto', sans-serif;
	color: #868685;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	font-size: 20px;
	line-height: 78px;
	text-align: left;
	text-decoration: none;
}
.carne_contenedor_rasgosdeps {
	width: 988px;
	height: 39px;
	float: left;
	background-color: #d9d9d8;
	padding-left: 12px;
}
.carne_contenedor_rasgosdeps2 {
	width: 988px;
	height: 30px;
	float: left;
	padding-left: 12px;
}
.carne_contenedor_rasgosdeps2:nth-child(even){
	background:#f5f5f5;
}

.carne_contenedor_rasgosdeps_toros {
	width: 313px;
	height: 39px;
	float: left;
	color: #3e3e3d;
	font-family: 'Roboto', sans-serif;
	font-style: normal;
	font-size: 15px;
	line-height: 39px;
	text-align: left;
}
.carne_contenedor_rasgosdeps_toros2 {
	width: 313px;
	height: 30px;
	float: left;
	text-align: left;
}
.carne_contenedor_rasgosdeps_rasgos {
	width: 60px;
	height: 39px;
	float: left;
	color: #3e3e3d;
	font-family: 'Roboto', sans-serif;
	font-style: normal;
	font-size: 15px;
	line-height: 39px;
	text-align: center;
}
.carne_contenedor_rasgosdeps_rasgos2 {
	width: 60px;
	height: 30px;
	float: left;
	color: #3e3e3d;
	font-family: 'Roboto', sans-serif;
	font-style: normal;
	font-size: 13px;
	line-height: 30px;
	text-align: center;
}

.carne_contenedor_rasgosdeps_rasgostxt {
	width: 56px;
	height: 28px;
	float: left;
	background-color: #d9d9d8;
	color: #3e3e3d;
	font-family: 'Roboto', sans-serif;
	font-style: normal;
	font-size: 15px;
	line-height: 28px;
	text-align: center;
}
.carne_contenedor_rasgosdeps_rasgosflechita {
	width: 56px;
	height: 5px;
	float: left;
	background-color: #d9d9d8;
	font-style: normal;
	text-align: center;
	line-height: 5px;
}
a.carnelinktoro:link {
	font-family: 'Roboto', sans-serif;
	color: #3e3e3d;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	font-size: 13px;
	line-height: 30px;
	text-align: left;
	text-decoration: none;
}
a.carnelinktoro:active {
	font-family: 'Roboto', sans-serif;
	color: #3e3e3d;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	font-size: 13px;
	line-height: 30px;
	text-align: left;
	text-decoration: none;
}
a.carnelinktoro:visited {
	font-family: 'Roboto', sans-serif;
	color: #3e3e3d;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	font-size: 13px;
	line-height: 30px;
	text-align: left;
	text-decoration: none;
}
a.carnelinktoro:hover {
	font-family: 'Roboto', sans-serif;
	color: #921c2f;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	font-size: 13px;
	line-height: 30px;
	text-align: left;
	text-decoration: none;
	border-bottom:none;
}
.listado_toros{
	margin-bottom: 40px;
	float: left;
	width: 100%;
}
.carne_raza_contenedor_fotonombre_toro {
	width: 190px;
	height: 157px;
	float: left;
	padding-top: 13px;
	padding-left: 5px;
	padding-right: 5px;
}
.carne_raza_contenedor_fototoro {
	width: 190px;
	height: 132px;
	float: left;
	font-family: default font;
}
.carne_raza_contenedor_nombretoro {
	width: 190px;
	height: 22px;
	float: left;
	border-top: 2px solid #921c2f;
	color: #3e3e3d;
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
	line-height: 30px;
}